@page "/error"

@inject IJSRuntime JsRuntime


<h3>One-way data binding</h3>
    color is : <label>@@color</label>
    number is: <label>@rnumber</label>
    product is: <label>@product</label>
    <div style="background-color: @color; padding: 50px;"></div>
    <button class="btn btn-dark" @onclick="@(e => { ToggleBackGround(e, 14); SetProduct("test"); })">Toggle background color</button>


    <h2>@_message</h2>

@code {

    protected override async void OnAfterRender(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("addDatePicker");
        base.OnAfterRender(firstRender);
    }

        private string _message = "Select a button to learn its position.";
        private string color = "red";
        private int rnumber = 0;
        private string product = "1";
        private void ToggleBackGround(MouseEventArgs  e, int randomNumber)
        {
            color = color == "red" ? "green" : "red";
            rnumber = randomNumber;

            _message = $"You selected Button # at " +
                       $"  event {e} ";
        }

        private void SetProduct(string prod)
        {
            product = prod;
        }
    }